@page
@model Blocknote.RazorFrontend.Pages.Index

@{
    if (Model.Notes.Any())
    {
        foreach (var note in Model.Notes)
        {
            <div class="note-card">
                <div class="note-card-content">
                    <span class="note-card-title">@note.Title</span>
                    <span class="note-card-subtitle">@note.Subtitle</span>
                </div>
                <div class="note-card-menu">
                    <div class="menu-item" data-action="open">Открыть</div>
                    <div class="menu-item" data-action="edit">Редактировать</div>
                    <div class="menu-item delete" data-action="delete">Удалить</div>
                </div>
            </div>
            
            
            <div class="note hidden">
                <div class="note-header">
                    <span class="note-title">@note.Title</span>
                    <button class="close-note-btn">×</button>
                </div>
                <div class="note-content">
                    <p>@note.Content</p>
                </div>
            </div>


            <div class="modal hidden">
                <div class="modal-content">
                    <form method="post">
                        <h2>Новая заметка</h2>
                        <input type="text" name="Title" value="@note.Title" asp-for="@note.Title" placeholder="Заголовок" class="modal-input">
                        <input type="text" name="Subtitle" value="@note.Subtitle" asp-for="@note.Title" placeholder="Подзаголовок" class="modal-input">
                        <textarea name="Content" value="@note.Content" asp-for="@note.Title" placeholder="Содержание заметки" class="modal-textarea"></textarea>
                        <div class="modal-buttons">
                            <button class="modal-cancel">Отмена</button>
                            <button type="submit" class="modal-save">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>

        }
    }
    else
    {
        
    }
}






